body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background: #201b2c;
    color: #f0ffffde;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 15vw;
    height: auto;
}

.nav a {
    color: #e74bc6;
    text-decoration: none;
    font-weight: 700;
    margin: 0 15px;
    font-size: 1.2vw;
}

.nav a:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.alterar-perfil {
    background: #2f2841;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.alterar-perfil h2 {
    color: #e74bc6;
    font-weight: 800;
    font-size: 2.2vw;
    margin-bottom: 30px;
}

.foto-perfil, .campo {
    margin-bottom: 20px;
    text-align: left;
}


.foto-perfil input[type="file"], .campo input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1vw;
    background: #333;
    color: #fff;
}

.foto-perfil{
    display: block;
    font-size: 1.2vw;
    margin-bottom: 5px;
    color: #e74bc6;
}

.campo label {
    display: block;
    font-size: 1.2vw;
    margin-bottom: 5px;
    color: #e74bc6;
}

.botao {
    background: #e74bc6;
    color: #fff;
    padding: 15px 40px;
    font-weight: 700;
    border-radius: 5px;
    font-size: 1.3vw;
    display: block;
    margin: 20px auto 0;
    width: fit-content;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background: #d63b8c;
}

.footer {
    background: #2f2841;
    padding: 20px;
    text-align: center;
    color: #e74bc6;
    font-size: 1vw;
    margin-top: auto;
    width: 100%;
}