@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.login_principal{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_esquerda > h1{
    font-size: 2vw;
    color: #f169d4;
    
}

.imagem_esquerda {
    width: 30vw;
}

.login_direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_card {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.login_card > h1 {
    color: #cc3bad;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
color: #f0ffff94;
}

.botao_entrar {
    width: 75%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #e74bc6;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #4b1740;
}

.cadastro_link {
    margin-top: 10px;
    text-align: center;
}

.cadastro_link > p {
    color: #f0ffffde;
    font-size: 10pt;
    font-size: 1vw;
}

.cadastro_link > p > a {
    color: #e74bc6;
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
}

.cadastro_link > p > a:hover {
    text-decoration: underline;
}
